---
title: About
heading: About Zeal
<!-- subtitle: Meet our efficient and qualified team. -->
---

<section class="diagonal patterned">
	<div class="container">
    <h3>Vision</h3>
    <p>Imagine a world where where what you consume revitalizes you and the planet, where nearly everyone has a high standard of living and a thriving environment, and the where the companies we work for leave everything they touch better. A world where both people and the planet are thriving.</p>
    <p>This is the world we envision. Enable people and their environments to thrive, and we all rise together.</p>
	</div>
</section>

<section class="diagonal">
  <div class="container">
    <h3>About</h3>
    <p>Zeal is a community and resource network for entrepreneurs and product leaders combining purpose and profit through #worldpositive companies: companies that solve social and environmental challenges, especially related to the oceans and the future of food.</p>

    <p>We're a network of leaders actively creating a sustainable, inclusive, and purpose-driven world through business. We are entrepreneurs, artists, technologists, designers, scientists, investors, activists, business people, writers, thinkers, and doers.</p>
    <p style="text-bold">In a finite world, Zeal exists to catalyze the most precious resource of all: conscious leaders with the will to act in order to bring about a world where people and planet are thriving.</p>


    <!-- <ul class="image-grid">
      {% for member in site.staff_members %}
        <li>{% include staff-member.html member=member %}</li>
      {% endfor %}
    </ul> -->
  </div>
</section>
