<section class="hero diagonal">
  <div class="container">
    <h2 class="editable">We support entrepreneurs and product leaders solving problems in the oceans and food system.</h2>
    <!-- <p class="subtext editable">Zeal is a community to drive resources, knowledge, and connections to entrepreneurs and product leaders solving sustainability challenges, especially in the oceans and the food system. </p> -->
    <p><a class="button alt" href="{{ site.baseurl }}/contact/">Contact Us</a></p>
  </div>
</section>
