<section class="diagonal patterned">
  <div class="container halves">
    <div>
      <h3 class="editable">What we do</h3>
      <p class="editable">We curate essential knowledge, connect leaders with resources, and roll up our sleeves on product strategy.</p>
      <p>We provide:</p>
      <ul>
        <li>Strategy mapping</li>
        <li>One on one support</li>
        <li>Product strategy</li>
        <li>Fundraising prep</li>
        <li>Webinars & Calls</li>
      </ul>
    </div>

<!--
    <div>
      <p>We provide:</p>
      <ul>
        <li>Strategy mapping</li>
        <li>One on one support</li>
        <li>Product strategy</li>
        <li>Webinars & Calls</li>
      </ul>
    </div> -->


<!--
    <div>
      <ul class="image-grid">
        {% for client in site.clients limit: 4 %}
          <li><a href="{{ site.baseurl }}{{ client.url }}"><img src="{% include relative-src.html src=client.image_path %}"></a></li>
        {% endfor %}
      </ul>
    </div> -->

  </div>
</section>