<!doctype html>

<html lang="en">
	{% include head.html %}

	<body>
		<header>
			<div class="container">
				<h1 class="company-name"><a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/images/logo.svg" alt="Urban" width="150"></a></h1>
				{% include navigation.html %}
			</div>
		</header>
		{{ content }}

		{% include sections/footer.html %}

		<script>
			document.getElementById("open-nav").onclick = function () {
				document.body.classList.toggle("nav-open");
				return false;
			};
		</script>
	</body>
</html>
